
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #101630;
}

img {
    max-width: 50%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #49BADA;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #49BADA;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header {
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 50px 0 0 0;
}

.header-content {
    display: flex;
    flex: 1;
}

.header-txt {
    flex-basis: 50%;
}

.header-txt span {
    font-size: 30px;
    font-weight: 600;
    color: #868B9E;
}

.header-txt h1 {
    font-size: 80px;
    color: #ffffff;
    line-height: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px 0 25px 0;
}

.btn-1 {
    display: inline-block;
    padding: 13px 35px;
    background: linear-gradient(
        90deg
        rgba(78,159,215,1) 0%
        rgb(158, 13, 158) 100%
    );
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 10px;
}

.about {
    padding: 0 0 100px 0;
    display: flex;
    align-items: center;
}

.about-img {
    flex-basis: 80%;
}

.about-img img {
    width: 400px;
    border-radius: 15px;
    border: 10px solid #49BADA;
}

.about-txt {
    flex-basis: 60%;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.about-txt p {
    color: #b3b3b3;
    font-size: 17px;
    margin-bottom: 50px;
}

.butons a {
    margin-right: 15px;
}

.portfolio {
    padding: 50px 0;
    text-align: center;
}

.portfolio-content {
    margin-top: 70px;
}

.portfolio-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.portfolio-txt {
    flex-basis: 50%;
    text-align: left;
}

.portfolio-txt span {
    font-size: 18px;
    font-weight: 600;
    display: block;
    color: #49BADA;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.portfolio-txt h3 {
    color: #ffffff;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.portfolio-txt p {
    font-size: 17px;
    color: #c5c5c5;
    margin-bottom: 25px;
}

.portfolio-img {
    flex-basis: 50%;
    text-align: center;
}

.portfolio-img img {
    width: 400px;
}

.skills {
    padding: 50px 0 100px 0;
    text-align: center;
}

.skills-content {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    justify-content: center;
}

.skills-content img {
    width: 80px;
}

.footer {
    padding: 40px ;
    background: linear-gradient(
        90deg
        rgb(208, 206, 218)0%
        rgb(229, 232, 235)100%
    );
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.link h3 {
    color: #8191f0;
    font-size: 18px;
    margin-bottom: 10px;
}

.link a {
    color: #f0f5f1;
    font-size: 13spx;
    display: block;
    margin-bottom: 10px;
}


@media (max-width:991px) {

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #49BADA;
        display: none;
    }

    .menu .navbar ul li a:hover {
        color: #101630;
    }

    .menu .navbar ul li {
        width: 100%;
    }
}
